* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.box {
    background: rgb(255,0,2);
    background: radial-gradient(circle, rgba(255,0,2,1) 15%, rgba(255,118,0,1) 22%, rgba(250,255,0,1) 31%, rgba(11,187,0,1) 46%, rgba(0,190,208,1) 62%, rgba(0,23,255,1) 71%, rgba(230,0,255,1) 84%, rgba(0,0,0,1) 95%);background: radial-gradient(circle, rgba(255,0,2,1) 15%, rgba(255,118,0,1) 22%, rgba(250,255,0,1) 31%, rgba(11,187,0,1) 46%, rgba(0,190,208,1) 62%, rgba(0,23,255,1) 71%, rgba(230,0,255,1) 84%, rgba(0,0,0,1) 95%);
}
.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    text-align: center;
}
i.fa {
    font-size: 50px;
}
.item__content {
    padding-left: 25px;
    text-align-last: left;
}
.number {
    padding-top: 15px;
    font-size: 30px;
}
.text {
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
}

